In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey

# data paths
city_data_path = "../output_data/cities.csv"

In [2]:
city_data = pd.read_csv(city_data_path)
city_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Busselton,100,AU,1579753768,29,-33.65,115.33,82.99,3.67
1,Tasiilaq,0,GL,1579753778,66,65.61,-37.64,15.80,16.50
2,Horlivka,100,UA,1579754337,84,48.35,38.05,29.98,7.28
3,Sukhinichi,99,RU,1579754337,86,54.10,35.34,24.26,7.19
4,Hasaki,75,JP,1579753961,93,35.73,140.83,45.00,1.00

In [3]:
# gmaps configuration
gmaps.configure(api_key=gkey)

In [4]:
# function for heatmap
def heatmap(locations, weights):
    fig = gmaps.figure()
    heat_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False,)
    fig.add_layer(heat_layer) 
    fig   
    return fig

In [5]:
heatmap(city_data[["Lat", "Lng"]], city_data["Humidity"])

Figure(layout=FigureLayout(height='420px'))

In [6]:
city_data = city_data.dropna()
vacation_cities = city_data

In [7]:
cold = vacation_cities.loc[vacation_cities["Max Temp"] < 65].index
vacation_cities = vacation_cities.drop(cold)

hot = vacation_cities.loc[vacation_cities["Max Temp"] > 85].index
vacation_cities = vacation_cities.drop(hot)

windy = vacation_cities.loc[vacation_cities["Wind Speed"] > 10].index
vacation_cities = vacation_cities.drop(windy)

cloudy = vacation_cities.loc[vacation_cities["Cloudiness"] > 0].index
vacation_cities = vacation_cities.drop(cloudy)

humid = vacation_cities.loc[vacation_cities["Humidity"] > 60].index
vacation_cities = vacation_cities.drop(humid)

vacation_cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
17,Kawhia,0,NZ,1579754341,58,-38.07,174.82,77.00,4.02
30,Mangrol,0,IN,1579754346,53,21.12,70.12,72.79,4.34
111,Carnarvon,0,AU,1579753791,58,-24.87,113.63,82.40,9.80
179,Tura,0,IN,1579754391,34,25.52,90.22,72.72,1.98
259,Piopio,0,NZ,1579754415,58,-38.47,175.02,77.00,4.02
306,Mae Sai,0,TH,1579754430,60,20.43,99.88,73.40,2.60
377,Marzuq,0,YE,1579754452,52,14.40,46.47,69.46,1.67
483,Potchefstroom,0,ZA,1579754486,46,-26.72,27.10,74.98,6.18
484,Waharoa,0,NZ,1579754487,40,-37.77,175.77,84.00,3.77